

#container{
	width: 600px;
	height: 600px;
	display: flex;
/*	flex-shrink: 0;*/
	flex-wrap: wrap;
	box-sizing: border-box;
}


.innerGrid{
	border: solid black 1px;
}

body{
	display: flex;
/*	align-items: center;*/
	justify-content: center;
	flex-direction: column;
	align-items: center;

}

