#container{
	width: 500px;
	height: 500px;
	display: flex;
/*	flex-shrink: 0;*/
	flex-wrap: wrap;
	box-sizing: border-box;
}


.innerGrid{
	border: solid black 1px;
}

body{
	display: flex;
/*	align-items: center;*/
	justify-content: center;
	flex-direction: column;
	align-items: center;
	 background-image: url(image/image.jpg); /* Replace with your image path */
  background-size: cover;       /* Ensures the image covers the entire viewport */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Makes the background stay fixed during scrolling */
}

button{
	margin-bottom: 3px;
}
















